# READ AND WRITE CSV FILES

In [1]:
from platform import python_version

print(python_version())

3.11.5

In [2]:
import csv
file = open('Salary_Data.csv')
type(file)

_io.TextIOWrapper

In [3]:
csvreader = csv.reader(file)
header = []
header = next(csvreader)
header

['YearsExperience', 'Salary']

In [5]:
rows = []
for row in csvreader:
 rows.append(row)
rows

[['1.1', '39343.00'],
 ['1.3', '46205.00'],
 ['1.5', '37731.00'],
 ['2.0', '43525.00'],
 ['2.2', '39891.00'],
 ['2.9', '56642.00'],
 ['3.0', '60150.00'],
 ['3.2', '54445.00'],
 ['3.2', '64445.00'],
 ['3.7', '57189.00'],
 ['3.9', '63218.00'],
 ['4.0', '55794.00'],
 ['4.0', '56957.00'],
 ['4.1', '57081.00'],
 ['4.5', '61111.00'],
 ['4.9', '67938.00'],
 ['5.1', '66029.00'],
 ['5.3', '83088.00'],
 ['5.9', '81363.00'],
 ['6.0', '93940.00'],
 ['6.8', '91738.00'],
 ['7.1', '98273.00'],
 ['7.9', '101302.00'],
 ['8.2', '113812.00'],
 ['8.7', '109431.00'],
 ['9.0', '105582.00'],
 ['9.5', '116969.00'],
 ['9.6', '112635.00'],
 ['10.3', '122391.00'],
 ['10.5', '121872.00']]

In [7]:
file.close()

In [9]:
import csv
rows = []
with open("Salary_Data.csv", 'r') as file:
 csvreader = csv.reader(file)
 header = next(csvreader)
 for row in csvreader:
  rows.append(row)
print(header)
print(rows)

['YearsExperience', 'Salary']
[['1.1', '39343.00'], ['1.3', '46205.00'], ['1.5', '37731.00'], ['2.0', '43525.00'], ['2.2', '39891.00'], ['2.9', '56642.00'], ['3.0', '60150.00'], ['3.2', '54445.00'], ['3.2', '64445.00'], ['3.7', '57189.00'], ['3.9', '63218.00'], ['4.0', '55794.00'], ['4.0', '56957.00'], ['4.1', '57081.00'], ['4.5', '61111.00'], ['4.9', '67938.00'], ['5.1', '66029.00'], ['5.3', '83088.00'], ['5.9', '81363.00'], ['6.0', '93940.00'], ['6.8', '91738.00'], ['7.1', '98273.00'], ['7.9', '101302.00'], ['8.2', '113812.00'], ['8.7', '109431.00'], ['9.0', '105582.00'], ['9.5', '116969.00'], ['9.6', '112635.00'], ['10.3', '122391.00'], ['10.5', '121872.00']]

In [10]:
with open('Salary_Data.csv') as file:
 content = file.readlines()
header = content[:1]
rows = content[1:]
print(header)
print(rows)

['YearsExperience,Salary\n']
['1.1,39343.00\n', '1.3,46205.00\n', '1.5,37731.00\n', '2.0,43525.00\n', '2.2,39891.00\n', '2.9,56642.00\n', '3.0,60150.00\n', '3.2,54445.00\n', '3.2,64445.00\n', '3.7,57189.00\n', '3.9,63218.00\n', '4.0,55794.00\n', '4.0,56957.00\n', '4.1,57081.00\n', '4.5,61111.00\n', '4.9,67938.00\n', '5.1,66029.00\n', '5.3,83088.00\n', '5.9,81363.00\n', '6.0,93940.00\n', '6.8,91738.00\n', '7.1,98273.00\n', '7.9,101302.00\n', '8.2,113812.00\n', '8.7,109431.00\n', '9.0,105582.00\n', '9.5,116969.00\n', '9.6,112635.00\n', '10.3,122391.00\n', '10.5,121872.00']

In [15]:
import pandas as pd

filename = "Salary_Data.csv"
data = pd.read_csv(filename, delimiter=',')
print(data)

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [16]:
data.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [18]:
data.Salary

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64

In [19]:
import csv
with open('Salary_Data.csv', 'r') as csvfile:
    reader = csv.DictReader(csvfile)
    print(row)

['10.5', '121872.00']

In [20]:
import csv
filename = 'Students_Data.csv'
with open(filename, 'w', newline="") as file:
 csvwriter = csv.writer(file) # 2. create a csvwriter object
 csvwriter.writerow(header) # 4. write the header
 csvwriter.writerows(data) # 5. write the rest of the data

In [24]:
header = ['Name', 'M1 Score', 'M2 Score']
data = [['Alex', 62, 80], ['Brad', 45, 56], ['Joey', 85, 98]]
filename = 'Student_scores.csv'
with open(filename, 'w') as file:
 for header in header:
  file.write(str(header)+', ')
 file.write('n')
 for row in data:
  for x in row:
   file.write(str(x)+', ')
  file.write('n')

In [25]:
import pandas as pd
header = ['Name', 'M1 Score', 'M2 Score']
data = [['Alex', 62, 80], ['Brad', 45, 56], ['Joey', 85, 98]]
data = pd.DataFrame(data, columns=header)

In [27]:
import csv
with open('Students_Data.csv', 'w', newline='') as csvfile:
    data = [{'Name': 'Alex', 'M1 Score': 62, 'M2 Score': 80},
 {'Name': 'Brad', 'M1 Score': 45, 'M2 Score': 56},
 {'Name': 'Joey', 'M1 Score': 85, 'M2 Score': 98}]